
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* ------------------------------------------------------- Main Picture Section ------------------------------------------------------- */

.main-content {
    padding: 15px 20px;
    width: 80%;
    margin: auto auto;
    margin-top: 0px;
}

.backgroundimg {
    background-size: cover;
    background-position: center;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}
.bigcontaintcontainer {
    position: relative; 
    background-size: cover;
    background-position: center top; /* Move the background to the top */
    height: 60%; /* Adjust height to crop the bottom */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pic1{
    background-color: #f6e000;
}

.bigcontentbt{
    font-weight: 500;
    color: white;
    background-color: #004aad;
    font-size: 20px; /* Adjust size as needed */
    padding: 12px 40px;
    border-style: none;
    cursor: pointer;
}

/* ------------------------------------------------------- Package Section ------------------------------------------------------- */

.package-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.package-card {
    border: 1   px solid #333;
    border-radius: 10px;
    width: 300px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.package-card img {
    width: 300px;
    border-radius: 10px;
}

.package-card h2 {
    color: #333;
    margin: 10px 0;
}

.package-card p {
    color: #555;
    margin: 5px 0;
}

.titlePackage   {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100px;      
    text-align: center;
    font-size: 25px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: auto;
    gap: 10px;
}

.pagination a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #004aad;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #0056b3;
}

.pagination span {
    font-size: 25px;
    color: #333;
}
